// 
$font-title: 'Pacifico',
cursive;
$font-stack: 'Roboto',
sans-serif;
$morning-blue: #779C96ff;
$primary-color: #1D4D4Fff;
$dark-olive-green:  #6B6D3Aff;
$light-grey: #EAEAEA;
$med-green: rgb(66, 94, 75);
$brown-sugar: #B36B49ff;
$camel: #BB8949ff;

.signup {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: $med-green;
    height: 100vh;
}
.container {
   
    margin-top: 120px;
    max-width: 580px;
    height: 320px;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 70px 3px rgba(155, 245, 221, 0.64);
    background-color: rgba(white, .7);
    height: min-content;
    display: block;
    position: relative;
}
.cancelbtn,
.signupbtn {
    cursor: pointer;
    margin-top: 2rem;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: $morning-blue;
    // border-color: transparent;
    opacity: 0.85;

    &:hover {
        opacity: 1;
    }

}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: #f44336;
    margin-right: 2rem;
}

/* Clear floats */
.clearfix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: min-content;
    padding-bottom: 2rem;

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}