$font-stack: 'Roboto',
sans-serif;
$primary-color: rgb(1, 45, 4);
$secundary-color: rgb(59, 86, 145);
$light-grey: #EAEAEA;
$med-green: rgb(66, 94, 75);
$font-title: 'Pacifico',
cursive;

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $med-green;


    .login {
        color: $primary-color;
        display: flex;
        flex-direction: column;
        align-content: center;
        background-color: $med-green;
        height: 100vh;
        
    }

    .container {
        margin-top: 120px;
        max-width: 580px;
        height: 320px;
        border-radius: 0.5rem;
        box-shadow: 10px 10px 70px 3px rgba(155, 245, 221, 0.64);
        background-color: rgba(white, .7);
        height: min-content;
        display: block;
        position: relative;

        @media only screen and (max-width: 568px) {
            /* styles for mobile browsers smaller than 568px; (iPhone5) */
            width: 90%;
        }
        @media only screen and (max-width: 665px) {
            /* styles for mobile browsers smaller than 568px; (iPhone5) */
            width: 90%;
        }

        .title {
            font: 100% $font-title;
            font-size: 3rem;
        }

        #firstName,
        #lastName,
        #email,
        #password,
        #reapeatPassword {
            width: 20rem;

            @media only screen and (max-device-width: 480px) {
                /* styles for mobile browsers smaller than 480px; (iPhone) */
                width: 15rem;
            }

        }

        .email,
        .password {
            color: $primary-color;
        }

        .button {
            cursor: pointer;
            margin-top: 2rem;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
            color: #fff;
            background-color: $secundary-color;
            border-color: $secundary-color;
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }

        .newuser {
            padding-bottom: 2rem;
        }
    }

    .container::after {
        content: "";
        background-image: url("https://skitterphoto.com/photos/skitterphoto-7214-default.jpg");
        border-radius: 0.5rem;
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

}